<div class="container-fluid">
  <div class="card">
    <div class="card card-header" style="color: black;">
      <div class="row">
        <div class="col-xs-6 offset-xs-4 col-sm-6 col-md-6 offset-md-0 col-lg-6 offset-lg-0 col-xl-3 offset-xl-0">
          <h5 class="text-nowrap">Lines per paragraph</h5>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="decramentParagraphsRequested()">
              <img src="../../../assets/images/minus.svg" class="emojismall" />
            </button>
            <button type="button" class="btn btn-primary notabuttonanymore" disabled>
              <h4>{{linesperparagraph}}</h4>
            </button>
            <button type="button" class="btn btn-primary" (click)="incarmentParagraphsRequested()">
              <img src="../../../assets/images/plus.svg" class="emojismall" />
            </button>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 offset-md-0 col-lg-6 offset-lg-0 col-xl-3 offset-xl-0">
          <h5>Paragraphs</h5>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="decramentLinesPerParagraph()">
              <img src="../../../assets/images/minus.svg" class="emojismall" />
            </button>
            <button type="button" class="btn btn-primary notabuttonanymore" disabled>
              <h4>{{paragraphsrequested}}</h4>
            </button>
            <button type="button" class="btn btn-primary" (click)="incarmentLinesPerParagraph()">
              <img src="../../../assets/images/plus.svg" class="emojismall" />
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-0 col-xl-3 offset-xl-0">
          <h5 class="text-nowrap">Regenerate text</h5>
          <button type="button" class="btn btn-primary btn-block" (click)="reGenerateParagraphs()">
            <img src="../../../assets/images/blackhat.svg" style="filter: invert(1);" />
          </button>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-0 col-xl-3 offset-xl-0">
          <h5 class="text-nowrap">Copy to clipboard</h5>
          <button type="button" class="btn btn-primary btn-block" (click)="copyMessage()">
            <img src="../../../assets/images/blackhat.svg" style="filter: invert(1);" />
          </button>
        </div>
      </div>
    </div>

    <div class="card card-body" style="border-color: black;">
      <div class="alert alert-primary d-flex justify-content-center" role="alert" *ngIf="showToast">
        <h5>Copied</h5>
      </div>
      <p *ngFor="let paragraph of paragraphs">
        {{paragraph}}
      </p>
    </div>

  </div>
</div>