<div class="container-fluid">
  <div class="card">
    <div class="card card-header ">
      <div class="row">
        <div class="col-4">
          <h5>Lines per paragraph</h5>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="decramentParagraphsRequested()">-</button>
            <input type="number" class="form-control" disabled="disabled" placeholder="Lines per paragraph" style="filter: invert(1);"
              value="{{linesperparagraph}}">
            <button type="button" class="btn btn-primary" (click)="incarmentParagraphsRequested()">+</button>
          </div>
        </div>
        <div class="col-4">
          <h5>Paragraphs Requested</h5>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="decramentLinesPerParagraph()">-</button>
            <input type="number" class="form-control" disabled="disabled" placeholder="No. of paragraphs" style="filter: invert(1);"
              value="{{paragraphsrequested}}">
            <button type="button" class="btn btn-primary" (click)="incarmentLinesPerParagraph()">+</button>
          </div>
        </div>
        <div class="col-4">
          <h5>Copy to clipboard</h5>
          <button type="button" class="btn btn-primary btn-block" (click)="copyMessage()">
            <img src="../../../assets/images/blackhat.svg" style="filter: invert(1);"/> </button>
        </div>
      </div>
    </div>
    <div class="card card-body" style="border-style: solid white;">
      <div class="alert alert-primary d-flex justify-content-center" role="alert" *ngIf="showToast">
        <h5>Copied</h5>
      </div>
      <p *ngFor="let paragraph of paragraphs">
        {{paragraph}}
      </p>
    </div>
  </div>
</div>