<div class="container-fluid">

  <div class="row">
    <div class="card card-default col-10 offset-1 " style="background: black;">
      <div class="card-body">
        <img class="float-right" src="/assets/images/cueball.png" />
        <div class="card-img-overlay">
          <h1 class="display-4">xkcd ipsum</h1>
          <p>a lorum ipsum generator based on <a href="https://xkcd.com/">xkcd.com</a> alt text</p>
          <span class="info-text">"Next time I go, I'm going to prepare a whole bunch<br />of opinions that I'm sure are
            good, and make everyone<br />sit quietly while I run through them."</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-10 offset-1">
    <div class="card-body col-10 offset-1">
      <div class="row">
        <ipsumcontainer></ipsumcontainer>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card card-default col-10 offset-1 " style="background: black">
      <div class="card-body">
          <span style="font-variant: small-caps">© Well Oiled Apps 2019</span><br><span style="font-variant: small-caps">All rights reserved</span>
      </div>
    </div>
  </div>